astroid==1.4.9
isort==4.2.5
Keras==1.2.1
lazy-object-proxy==1.2.2
mccabe==0.6.1
numexpr==2.6.2
numpy==1.12.0
pandas==0.19.2
protobuf==3.2.0
pylint==1.6.5
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
scipy==0.18.1
six==1.10.0
TA-Lib==0.4.10
tables==3.3.0
tensorflow==0.12.1
Theano==0.8.2
wrapt==1.10.8
